__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
tests/htmlcov/
htmlcov/

# Environment
.env
*.egg
*.gz
*.tar

# 
docker/
ckpts/
sample_data/
data/
output/
debug/
vis/
logs/
document/
